@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
 
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-right: 20px;
  padding-left: 20px;
}

.logo {
width: 93px;
height: 26.35;
}

.menu {
  width: 19.03px;
  height: 14.5px;
}

.hero-img {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.map {
  padding-left: 20px;
  padding-top: 20px;
}

  .arrow {
  position: absolute;
  width: 228.82px;
  height: 214.39px;
  padding: 20px;
  left: 14%;
}

.car {
padding-top: 50px;
}

.sun {
  position: absolute;
  padding-top: 70px;
  left: 65%;
}

.hero-text{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

h1{
  font-weight: 800;
}

p {
  padding-top: 20px;
  color: #9E9DA2;
}

