@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  
}

 a {
   margin: 0px 10px;
  text-decoration: none;
  color: #000;
  font-weight: 500px;
  font-size: 17.16;
}

.help-btn {
  background: #75BF7A;
  color: white;
  border: none;
  width: 182px;
  height: 50px;
  border-radius: 5.59px;
  
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.hero-text {
  width: 50%;
}

.hero-image img {
  width: 300px;
}

.buttons {
  display: flex;
flex-direction: row;
  
}


